<h1><%= @bookstore.name %></h1>
<p>Is the store currently open?: <%= @bookstore.currently_open %></p>
<p>Revenue: <%= @bookstore.revenue %></p>
<p>Opening Day: <%= @bookstore.opening %></p>
<p>Fiscal Year End: <%= @bookstore.fiscal_end_year %></p>
<p>Total Books: <%=@bookstore.books.count %></p>
