<h1><%= @bookstore.name %></h1>
<p>Is the store currently open?: <%= @bookstore.currently_open %></p>
<p>Revenue: <%= @bookstore.revenue %></p>
<p>Opening Day: <%= @bookstore.opening %></p>
<p>Fiscal Year End: <%= @bookstore.fiscal_end_year %></p>
<p>Total Books: <%=@bookstore.count_books %></p>

<p><%= button_to "Update #{@bookstore.name}", "/bookstores/#{@bookstore.id}/edit", method: :get %></p>
<p><%= button_to "Delete Bookstore", "/bookstores/#{@bookstore.id}", method: :delete %>

<a class="bookstore-books-index-link" href="/bookstores/<%= @bookstore.id %>/books">All Books at <%= @bookstore.name %></a>

